@font-face {
  font-family: "Cormorant Garamond Regular";
  src: url(assets/fonts/CormorantGaramond-Regular.ttf);
}
@font-face {
  font-family: "Cormorant Garamond Bold";
  src: url(assets/fonts/CormorantGaramond-Bold.ttf);
}
@font-face {
  font-family: "Cormorant Garamond Italic";
  src: url(assets/fonts/CormorantGaramond-Italic.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p {
  font-family: "Cormorant Garamond Regular";
  font-size: 1.6rem;
  color: #333333;
}

a {
  font-family: "Cormorant Garamond Regular";
  font-size: 2rem;
  color: #737b80;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 0.5px solid #737b80;
}

h1,
h2,
h3,
h4 {
  font-family: "Cormorant Garamond Bold";
  color: #333333;
}

h1 {
  font-size: 3rem;
  padding: 6px 0 19px 0;
  margin: 0 40px;
}

h1::first-letter {
  font-size: 4.5rem;
}

h1 span {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
  display: inline-block;
  margin-left: 9%;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 5px;
}

h4 {
  font-size: 5rem;
  padding: 25px 40px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e9e0;
  min-height: 100vh;
}

.nav {
  width: 100%;
  padding: 10px;
  margin: 0 40px 20px 40px;
}

.nav_outline {
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1px 0;
}

.nav_wrapper {
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  padding: 0 150px;
}

.heading_div {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 13px;
}

.heading_div p {
  font-size: 1.9rem;
  font-family: "Cormorant Garamond Bold";
}

section {
  margin: 0 40px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.grid_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.content_box {
  height: max-content;
}

.big_img {
  background: url(assets/img/kitchen.jpg.png) center no-repeat;
  background-size: cover;
  height: 85%;
  position: relative;
  margin-bottom: 30px;
}

.big_img p {
  font-family: "Cormorant Garamond Italic";
  position: absolute;
  bottom: -25px;
  left: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.outline {
  border: 2px solid #333333;
  padding: 1px;
}

.border_box {
  border: 2px solid #333333;

  text-align: center;
}

.border_content_wrapper {
  padding: 25px;
}

.small_img {
  padding: 25px;
  min-height: 220px;
  filter: grayscale(100%);
}

.bg_box {
  background: url(assets/img/ikea-logo.png.png) center no-repeat;
  background-size: cover;
  min-height: 170px;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .heading_div {
    width: 100%;
    padding: 0 40px;
    align-items: flex-end;
  }
  h2 {
    margin-left: 0;
    max-width: 65%;
  }
  .grid {
    column-gap: 3%;
    row-gap: 4%;
    grid-template-columns: 1fr 0.5fr;
    grid-template-areas:
      "column1 column2"
      "column3 column3";
    padding-bottom: 60px;
  }

  .grid_2 {
    grid-area: column3;
    height: 100%;
    padding-bottom: 60px;
  }
  .flex {
    grid-area: column2;
  }

  .big_img {
    grid-area: column1;
    height: 95%;
  }
  .nav_wrapper {
    padding: 0 15%;
  }
}
@media only screen and (max-width: 500px) {
  .nav {
    margin: 0 20px 20px 20px;
  }
  .heading_div p {
    display: none;
  }
  h2 {
    max-width: unset;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: "column1" "column2" "column3";
    padding-bottom: 160px;
  }
  .grid_2 {
    grid-area: column3;
    padding-bottom: 100px;
    grid-template-columns: 1fr;
  }
  .flex {
    grid-area: column2;
  }

  .big_img {
    grid-area: column1;
    min-height: 270px;
  }
}
